.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.appbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background: none;
}
.Title{
    font-family: 'Lobster', cursive;
    font-weight: 600;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to bottom, #000000 0%, #e74c3c 100%);
}
.search{
    display: flex;
    margin: 10px;
    padding: 5px;
    align-items: center;
    border:1px solid grey;
    border-radius: 10px;
    background-color: white;
}
.searchInput{
    border: none;
}
.searchInput:focus{
    outline: none;
}
.errorSearch{
    margin: 8px;
}
.button{
    margin: 5px;
    font-size: 1.5rem;
}
.gallery{
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-width: 40%;
    -moz-column-width: 40%;
    column-width: 40%;
    column-gap:40px;
    padding: 0 12px;
}
.image{
    border-radius: 12px;
    margin: 10px;
}
.gallery .image{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin: 12px;
}
.gallery .image:hover{
    filter:opacity(0.9);
    transform: scale(1.1);
}
@media (max-width:990px){
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}